*{
    padding: 0px;
    margin: 0px;

}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
 background-color: aqua;
}
header{
    background-color: rgb(158, 158, 158);
}
header >h1{
    text-align: center;

}
menu li{
    background-color: #757575;
}