p:active{
    color: pink;/*quando o mouse é clocado e fica com outra cor*/
}
h1:visited{
    color: blueviolet;/*quando o site foi visitado so funciona em link*/
}
a:hover{
    color:aqua;/* quando passa o mouse em cima */
}
input:checked{
    width: 400px;/*quando clica mudao tamanho */
    height: 400px;
}

.aqui input:focus{
    
    border: 5px solid red;
    outline: none;
}
.esse input:read-only{
    border: 4px solid blue;
}
.content{
    width: 100px;
    height: 100px;
    background-color: aqua;
}


.content:empty{/* se nao tiver nada no elemento ele fica com acor desejada, mais se for adicionada algo ele fica com acor de cima*/
   
    width: 100px;
    height: 100px;
    background-color: pink;
}