/* CSS do projeto login*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

html,
body {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transition: width 0.3s, height 0.4s;
    /*aqui e animaçao da imagem*/


}

section#login>div#imagem {
    display: block;
    background: #5f2c82 url(building-102840_640.jpg);
    background-size: cover;
    height: 200px;
    background-position: left bottom;
}

section#login>div#formulario{
    display: block;
    padding: 10px;
}

div#formulario >h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario> p {
    font-size: 0.8em;

}
form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 5px;
}
div.campo >label{
    display: none;
}
input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 5px;

}

input[type=submit]:hover {
    background-color: rgba(127, 255, 212, 0.466);
    color: black;
}

form>a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 255, 255, 0.425);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;
}
form>a.botao >i{
    font-size: 0.8em;
}
div.campo >span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo >input{
    background-color: aquamarine;
    font-size: 1em;
    width:calc(100% - 50px) ;
    height: 100%;
    transform: translateY(-10px);
    border: 0px;
    border-radius: 8px;
    padding: 10px;
}
div.campo > input:focus-within{
    background-color: white;
    
}