@media screen and (min-width:550px) {
    #burguer{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul >li {
        display: inline-block;
        
    }
    menu > ul >li>a{
        background-color: aqua;
    }
    main{
        width: 600px;
    }
}